In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
import sys
sys.path.append("../../Functions and Dictionaries") # Adds higher directory to python modules path
import geodict
namestocommon = geodict.namestocommon
geotogeoid = geodict.geotogeoid
tofullcensus = geodict.tofullcensus
import sqlite3 as sq
#functions
def percent(x, y):
        try:
            return ((x/y)*100)
        except ZeroDivisionError:
            return 0

Download CAEMP25N total employment (# of jobs) for all counties in TN and TN state total

In [3]:
data = pd.read_csv('../Data Inputs/BEA_2017_2022Employment.csv', dtype = str)

In [4]:
data = data.loc[(data['Description'] != 'Employment by place of work')&(data['Description'] != 'By type')&(data['Description'] != 'By industry')]

In [5]:
data.head()

,GeoFips,GeoName,LineCode,Category,Sub Category,Description,2017,2018,2019,2020,2021,2022
1,47000,Tennessee,10,Total,Total,Total employment (number of jobs),4033011,4120203,4169016,4121045,4301472,4506394
3,47000,Tennessee,20,By Type,"By Type, Wage and salary",Wage and salary employment,3083963,3133993,3195762,3074162,3170189,3305841
4,47000,Tennessee,40,By Type,"By Type, Proprietors",Proprietors employment,949048,986210,973254,1046883,1131283,1200553
5,47000,Tennessee,50,By Type,"By Type, Proprietors Sub",Farm proprietors employment,64371,65112,64220,63597,63648,63657
6,47000,Tennessee,60,By Type,"By Type, Proprietors Sub",Nonfarm proprietors employment 2,884677,921098,909034,983286,1067635,1136896

In [6]:
data['Category'] = data['Category'].str.strip()
data['Sub Category'] = data['Sub Category'].str.strip()
data['Description'] = data['Description'].str.strip()

In [7]:
data = data.replace({'(D)': 666666666})
cols = ['2017', '2018', '2019', '2020', '2021', '2022']
data[cols] = data[cols].astype(float)
data = data.rename(columns = {'GeoName': 'NAME'})
data['ID'] = data['Category'] + "|" + data['Sub Category'] + "|" + data['Description']
data = data.drop(columns = ['GeoFips', 'LineCode', 'Category', 'Sub Category', 'Description'])

In [8]:
ids = list(data['ID'].unique())
geos = list(data['NAME'].unique())
data = data.set_index(['NAME', 'ID'])

In [9]:
data = data.transpose()

In [10]:
#aggregate by double column-headers
for thing in ids:
    #MPO
    thelist = [data[('Davidson, TN', '{}'.format(thing))],data[('Maury, TN', '{}'.format(thing))],
               data[('Robertson, TN', '{}'.format(thing))],data[('Rutherford, TN', '{}'.format(thing))], 
               data[('Sumner, TN', '{}'.format(thing))], data[('Williamson, TN', '{}'.format(thing))], 
               data[('Wilson, TN', '{}'.format(thing))]]
    data[('MPO', '{}'.format(thing))] = sum(thelist)
    #GNRC
    thelist = [data[('Cheatham, TN', '{}'.format(thing))], data[('Davidson, TN', '{}'.format(thing))], 
               data[('Dickson, TN', '{}'.format(thing))], data[('Houston, TN', '{}'.format(thing))],
               data[('Humphreys, TN', '{}'.format(thing))], data[('Montgomery, TN', '{}'.format(thing))],
               data[('Robertson, TN', '{}'.format(thing))],data[('Rutherford, TN', '{}'.format(thing))], 
               data[('Sumner, TN', '{}'.format(thing))], data[('Stewart, TN', '{}'.format(thing))], 
               data[('Trousdale, TN', '{}'.format(thing))],
               data[('Williamson, TN', '{}'.format(thing))], data[('Wilson, TN', '{}'.format(thing))]]
    data[('GNRC', '{}'.format(thing))] = sum(thelist)
    #GNRC Region
    thelist = [data[('Cheatham, TN', '{}'.format(thing))], data[('Davidson, TN', '{}'.format(thing))], 
               data[('Dickson, TN', '{}'.format(thing))], data[('Houston, TN', '{}'.format(thing))],
               data[('Humphreys, TN', '{}'.format(thing))], data[('Montgomery, TN', '{}'.format(thing))],
               data[('Robertson, TN', '{}'.format(thing))],data[('Rutherford, TN', '{}'.format(thing))], 
               data[('Sumner, TN', '{}'.format(thing))], data[('Stewart, TN', '{}'.format(thing))], 
               data[('Trousdale, TN', '{}'.format(thing))], data[('Williamson, TN', '{}'.format(thing))], 
               data[('Wilson, TN', '{}'.format(thing))], data[('Maury, TN', '{}'.format(thing))]]
    data[('GNRC Region', '{}'.format(thing))] = sum(thelist)

In [11]:
geos.append('GNRC')
geos.append('GNRC Region')
geos.append('MPO')

In [12]:
#calculate percentages
for geo in geos:
    data[('{}'.format(geo), 'By Type|By Type, Wage and salary|Wage and salary employment %')] = percent(data[('{}'.format(geo), 'By Type|By Type, Wage and salary|Wage and salary employment')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By Type|By Type, Proprietors|Proprietors employment %')] = percent(data[('{}'.format(geo), 'By Type|By Type, Proprietors|Proprietors employment')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By Type|By Type, Proprietors Sub|Farm proprietors employment %')] = percent(data[('{}'.format(geo), 'By Type|By Type, Proprietors Sub|Farm proprietors employment')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By Type|By Type, Proprietors Sub|Nonfarm proprietors employment 2 %')] = percent(data[('{}'.format(geo), 'By Type|By Type, Proprietors Sub|Nonfarm proprietors employment 2')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Farm|Farm employment %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Farm|Farm employment')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm|Nonfarm employment %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm|Nonfarm employment')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Private nonfarm employment %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Private nonfarm employment')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Forestry, fishing, and related activities %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Forestry, fishing, and related activities')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Mining, quarrying, and oil and gas extraction %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Mining, quarrying, and oil and gas extraction')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Utilities %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Utilities')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Construction %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Construction')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Manufacturing %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Manufacturing')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Wholesale trade %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Wholesale trade')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Retail trade %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Retail trade')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Transportation and warehousing %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Transportation and warehousing')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Information %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Information')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Finance and insurance %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Finance and insurance')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Real estate and rental and leasing %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Real estate and rental and leasing')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Professional, scientific, and technical services %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Professional, scientific, and technical services')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Administrative and support and waste management and remediation services %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Administrative and support and waste management and remediation services')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Educational services %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Educational services')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Health care and social assistance %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Health care and social assistance')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Arts, entertainment, and recreation %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Arts, entertainment, and recreation')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Accommodation and food services %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Accommodation and food services')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Other services (except government and government enterprises) %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Nonfarm Sub|Other services (except government and government enterprises)')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Government|Government and government enterprises %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Government|Government and government enterprises')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Government Sub|Federal civilian %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Government Sub|Federal civilian')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Government Sub|Military %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Government Sub|Military')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Government Sub|State and local %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Government Sub|State and local')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Government Sub|State government %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Government Sub|State government')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])
    data[('{}'.format(geo), 'By industry|By industry, Government Sub|Local government %')] = percent(data[('{}'.format(geo), 'By industry|By industry, Government Sub|Local government')], 
                                                                                                       data[('{}'.format(geo), 'Total|Total|Total employment (number of jobs)')])

In [13]:
data = data.rename(columns = {
    'Cheatham, TN': 'Cheatham County, Tennessee', 
    'Davidson, TN': 'Davidson County, Tennessee',
    'Dickson, TN': 'Dickson County, Tennessee',
    'Houston, TN': 'Houston County, Tennessee',
    'Humphreys, TN': 'Humphreys County, Tennessee',
    'Maury, TN': 'Maury County, Tennessee',
    'Montgomery, TN': 'Montgomery County, Tennessee',
    'Robertson, TN': 'Robertson County, Tennessee',
    'Rutherford, TN': 'Rutherford County, Tennessee',
    'Stewart, TN': 'Stewart County, Tennessee',
    'Sumner, TN': 'Sumner County, Tennessee',
    'Williamson, TN': 'Williamson County, Tennessee',
    'Wilson, TN': 'Wilson County, Tennessee',
    'Trousdale, TN': 'Trousdale County, Tennessee'
})

In [14]:
data = data.transpose().reset_index(drop = False)
data.head()

        NAME                                                 ID       2017       2018       2019       2020       2021       2022
0  Tennessee      Total|Total|Total employment (number of jobs)  4033011.0  4120203.0  4169016.0  4121045.0  4301472.0  4506394.0
1  Tennessee  By Type|By Type, Wage and salary|Wage and sala...  3083963.0  3133993.0  3195762.0  3074162.0  3170189.0  3305841.0
2  Tennessee  By Type|By Type, Proprietors|Proprietors emplo...   949048.0   986210.0   973254.0  1046883.0  1131283.0  1200553.0
3  Tennessee  By Type|By Type, Proprietors Sub|Farm propriet...    64371.0    65112.0    64220.0    63597.0    63648.0    63657.0
4  Tennessee  By Type|By Type, Proprietors Sub|Nonfarm propr...   884677.0   921098.0   909034.0   983286.0  1067635.0  1136896.0

In [15]:
boop = data['ID'].str.split(pat = "|", expand = True)
data['Category'] = boop[0]
data['Sub Category'] = boop[1]
data['Description'] = boop[2]
data = data.drop(columns = 'ID')

In [16]:
data['Category'] = data['Category'].str.strip()
data['Sub Category'] = data['Sub Category'].str.strip()
data['Description'] = data['Description'].str.strip()

In [17]:
data.tail()

     NAME      2017      2018      2019      2020          2021      2022     Category                 Sub Category         Description
6331  MPO  1.034684  1.004817  1.002935  1.036152      0.964809  0.913661  By industry  By industry, Government Sub  Federal civilian %
6332  MPO  0.429614  0.406810  0.405086  0.411848      0.382626  0.350177  By industry  By industry, Government Sub          Military %
6333  MPO  7.011127  6.866325  6.815341  6.876915      6.393256  6.113446  By industry  By industry, Government Sub   State and local %
6334  MPO  1.786350  1.729673  1.687422  1.693270  47787.119157  1.459049  By industry  By industry, Government Sub  State government %
6335  MPO  5.224776  5.136652  5.127919  5.183645  47789.623574  4.654398  By industry  By industry, Government Sub  Local government %

In [18]:
#export to the SQLite database
conn = sq.connect('../Outputs/BEA.db')
data.to_sql('2017_2022Employment', conn, if_exists = 'replace', index = False)

6336