In [12]:
import pandas as pd
import numpy as np
import requests
import pickle
from collections import deque
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
pd.options.mode.chained_assignment = None  # default='warn'
import sqlite3 as sq
from datetime import date

Quick Pull from CAEMP25 data

In [13]:
conn = sq.connect('../Outputs/BEA.db')
sql_query = pd.read_sql('SELECT * FROM [2017_2022Employment]', conn)
data = pd.DataFrame(sql_query)

In [14]:
data.head()

        NAME       2017       2018       2019       2020       2021       2022 Category              Sub Category                        Description
0  Tennessee  4033011.0  4120203.0  4169016.0  4121045.0  4301472.0  4506394.0    Total                     Total  Total employment (number of jobs)
1  Tennessee  3083963.0  3133993.0  3195762.0  3074162.0  3170189.0  3305841.0  By Type  By Type, Wage and salary         Wage and salary employment
2  Tennessee   949048.0   986210.0   973254.0  1046883.0  1131283.0  1200553.0  By Type      By Type, Proprietors             Proprietors employment
3  Tennessee    64371.0    65112.0    64220.0    63597.0    63648.0    63657.0  By Type  By Type, Proprietors Sub        Farm proprietors employment
4  Tennessee   884677.0   921098.0   909034.0   983286.0  1067635.0  1136896.0  By Type  By Type, Proprietors Sub   Nonfarm proprietors employment 2

In [15]:
thelist = ['Tennessee', 'Humphreys County, Tennessee', 'Benton, TN', 'Houston County, Tennessee', 'Dickson County, Tennessee']
data = data.loc[data['NAME'].isin(thelist)]

In [16]:
thelist = ['Total', 'By industry, Farm']
data = data.loc[data['Description'] == 'Farm employment %']

In [17]:
data = data.drop(columns = ['Description', 'Category'])

In [18]:
data

                             NAME       2017       2018       2019       2020       2021       2022       Sub Category
3271                    Tennessee   1.869025   1.842652   1.792893   1.800102   1.730454   1.668296  By industry, Farm
3364                   Benton, TN   7.458048   7.289944   7.234557   7.146088   7.058998   6.813970  By industry, Farm
3953    Dickson County, Tennessee   4.401149   4.343064   4.246197   4.232525   4.104287   3.967808  By industry, Farm
4573    Houston County, Tennessee  12.676056  12.627737  12.653061  12.518519  12.895841  12.836047  By industry, Farm
4604  Humphreys County, Tennessee   7.145295   7.232346   7.089636   7.064043   7.152714   7.032128  By industry, Farm

In [19]:
years = ['2017', '2018', '2019', '2020', '2021', '2022']
data[years] = data[years].round(2)

In [20]:
#get the current date
current_date = date.today()
#format the date as a string (e.g., YYYY-MM-DD)
date_string = current_date.strftime("%Y-%m-%d")
#match regular gnrc formatting
date_string = date_string.replace("-", "")

In [22]:
data.to_csv('../Outputs/Quick Pull/farmempfarmersmarket_ecd_{}.csv'.format(date_string), index = False)